/*titulo*/
.collares-titulo {
    width: 100%;
    height: 8rem;
    display: flex;
    justify-content: center;
    background-color: $beige-color;
    margin-top: 10px;
    margin-bottom: 20px;
    h1 {
        color: $black-color;
        font-family: Georgia, "Times New Roman", Times, serif;
        font-size: 2.5rem;
        padding-top: 2rem;
    }
}

/*products*/
.collares-productos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

.collares-discos {
    background-color: $green-color;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: 1fr 8rem;
    grid-template-areas:
        "area1 area2 area3 area4"
        "area6 area6 area5 area5";
    align-items: center;
    justify-items: center;
    padding: 20px;
    img {
        width: 80%;
        height: 80%;
        object-fit: contain;
    }
}
.collar-disc-1 {
    grid-area: area1;
}
.collar-disc-2 {
    grid-area: area2;
}
.collar-disc-3 {
    grid-area: area3;
}
.collar-disc-4 {
    grid-area: area4;
}
.collar-disc-5 {
    grid-area: area5;
    color: $black-color;
    width: 100%;
    padding: 30px;
    font-family: "Playpen Sans", cursive;
}
.collar-disc-6 {
    grid-area: area6;
    color: $black-color;
    font-family: Georgia, "Times New Roman", Times, serif;
}

/*collar products dijes*/

.collares-dijes {
    background-color: $beige-color;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    justify-content: start;
    align-items: center;
    gap: 1rem;
    width: 100%;
    padding: 2rem;

    .collar-card {
        display: flex;
        height: 400px;
        width: 90%;
        flex-direction: column;
        background-color: $green-color;
        border-color: $green-color;
        border-style: solid;
        border-radius: 10px;
        overflow: hidden;
        position: relative;
        color: $black-color;
        align-items: center;
        justify-content: center;
        img {
            width: 100%;
            height: 100%;
        }

        div {
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            background: linear-gradient(to top, transparent, #8b9e61d9 87%, transparent);
            transition: 0.5s all;
            padding: 1rem;
            transform: translateY(70%);
        }
        h2 {
            font-size: 25px;
            font-family: "Playpen Sans", cursive;
        }
        h3 {
            font-size: 20px;
            font-family: Georgia, "Times New Roman", Times, serif;
            font-weight: bold;
            background-color: $beige-color;
            padding: 10px;
            border-radius: 5px;
        }
    }
}
